<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="currentList.css">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <h1>Pangea.</h1>
        <p>Admin Console</p>
    </div>
    <div class ="container">
        <form action="/myaccount/admin" enctype="multipart/form-data" method="POST">
            <input type="text" name="commonName" required placeholder="Common Name">
            <input type="text" name="scientificName" required placeholder="Scientific Name">
            <input type="text" name="domain" required placeholder="Domain">
            <input type="text" name="kingdom" required placeholder="Kingdom">
            <input type="text" name="phylum" required placeholder="Phylum">
            <input type="text" name="class" required placeholder="Class">
            <input type="text" name="order" required placeholder="Order">
            <input type="text" name="family" required placeholder="Family">
            <input type="text" name="genus" required placeholder="Genus">
            <input type="text" name="species" required placeholder="Species">
            <input type="text" name="subSpecies" required placeholder="Sub Species (optional)">
            <input type="text" name="variety" required placeholder="Variety (optional)">
            <input type="text" name="morph" required placeholder="Morph (optional)">
            <input type="text" name="form" required placeholder="form (optional)"> 
            <input type="text" name="continents[]" required placeholder="Continents Found">
            <input type="file" name="image" />
            <!-- <textarea id="description" name="description" required placeholder="Enter a description" rows="4" cols="50"></textarea> -->

            <input type="submit">
        </form>
    </div>
    

</body>
</html>
            


            <!-- <input type="text" name="imageUrl" required placeholder="Image URL">
            