<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="myAccount.css">
    <title>My Account</title>
</head>
<body>
    <div class="container">
        <h1>Pangea.</h1>
        <nav>
            <ul>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Lifelist</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        <p>Welcome, <%= username %> </p>

        <div class="photoOfTheDay">
            <span>info/ IMG from API</span>
        </div>

    <form action="/logout" method="POST">
        <button type="submit">logout</button>
    </form>

    <form action="/startList" method="GET">
        <button type="submit">Start A List!</button>
    </form>
    </div>
    

</body>
</html>